
.navbar-brand {
    
    opacity: 5.0;
}


.btn-outlined.btn-success {
    background: #20720d;
    font-weight: bold;
    border-radius: 10px;
    margin: 10px;
    border: none;
  }
.btn-outlined.btn-success:hover {
    text-decoration: none;
    background-color:#fbff48;

};
    
.btn-outlined.btn-success:active {
    font-weight: bold;
    color: #FFF;
    background: #47a447;
}
a{
    color:#fbff48;
}
a:hover{
    color:#20720d;
}





