
body {
    /* Location of the image */
    background-image: url(../src/images/main2.png);
    
    /* Image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Image doesn't repeat */
    background-repeat: no-repeat;
    
    /* Makes the image fixed in the viewport so that it doesn't move when 
       the content height is greater than the image height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;
    
    /* Pick a solid background color that will be displayed while the background image is loading */
    background-color:#464646;
    
    /* SHORTHAND CSS NOTATION
     * background: url(background-photo.jpg) center center cover no-repeat fixed;
     */
  }
  
  /* For mobile devices */
  @media only screen and (max-width: 767px) {
    body {
      /* The file size of this background image is 93% smaller
       * to improve page load speed on mobile internet connections */
      background-image: url(../src/images/main2.png);
    }
      }

div {
    background-color: none;
}

div.row {
    background-color: none;
}

a.btn {
    background-color: green;
}

a.btn.btn-primary.btn-lg:hover {
    background-color: red;
}

h1 {
    font-family: mignone;
    color: white;
    text-align: center;
}

h1.display-4 {
    color: white;
    text-align: center;
}

p.lead {
    color: orange;
}

a.navbar-brand {
    color: white;
}

p {
    color: yellow;
    text-align: center;
}

p.lead {
    background-color: none;
}

nav {
    align-content: center;
}