button {
    background-color:#387b2b;
    color:#fbe017;
    border-color:none;
}
a {
    color:#fbe017;
}
button:hover {
    background-color:#fbe017;
    color:#fbe017;
    border-color:#fbe017;
}
a:hover {
    color:#387b2b;
}