.ui.button-login {
    background-color: blue;
    color: white;
    border-color: blue;
    border-radius: 6px;
    padding: 5px;
    margin-top: 2px;
    margin-left: 80px;
  }
div.transbox-login{
    display: flex;
    height: 300px;
    width: 300px;
    box-orient: vertical;
    box-align: center;
    background-color: #387b2b;
    border: 1px solid black;
    opacity: 0.7;
    margin: auto;
    }
  .login-form {
    color: white;
    font-weight: bolder;
  }
.field-login {
    background-color:#387b2b;
    margin: 20px;
}
.input-login, .select-login, .textarea-log-in {
    width: 100%;
    padding: 1px;
    border: 0px solid #ccc;
    border-radius: 6px;
    resize: vertical;
}