body {
    background-image: url(../../images/home2.png);    
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

      background-color: none;
}


  
  .container {
    max-width: 1170px;
    width: 100%;
    margin: 50px auto;
    padding: 0 20px;
    box-sizing: border-box;
    
  }
  @media only screen and (max-width: 767px) {
      body{
          background-image: url(../../images/home3.png);
      }
  }
  

