.input-create {
  background-color:white;
  color:black;
  margin-left: 20px;
  border-radius: 6px;
}
.jumbotron-create{
  position:absolute;
  z-index:  -50;
  background-color: #1e6f41;
  width: 350px;
  height: 525px;
  margin-left:650px;
  opacity: .6;
}
div.transbox-create{
  position: absolute;
  background-color: none;
  width: 400px;
  height: 400px;
  margin-left:650px;
}
.button-create {
  width: 50%;
  background-color: #fbff48;
  color: #20720d;
  padding: 4px 4px;
  margin-left:50px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button-create:hover {
  width: 50%;
 
  background-color: #20720d;
  color: #fbff48;
  padding: 4px 4px;
  margin-left:50px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.field-create {
  background-color:none;
  margin-left:60px;
}
.createJob-form{
  color:white;
  width: 300px;
  height: 250px;
  padding: 6px 20px;
  
}