    .input-login {
        background-color:white;
        color:black;
        margin-left: 20px;
    }
    .jumbotron-login{
        position:absolute;
        z-index:  -50;
        background-color: #1e6f41;
        width: 250px;
        height: 300px;
        margin-left:700px;
        opacity: .6;
    }
    div.transbox-login-bg{
        position: absolute;
        background-color: none;
        width: 250px;
        height: 300px;
        margin-left:700px;
    }
    .button-login {
        width: 50%;
        background-color: blue;
        color: white;
        padding: 4px 4px;
        margin-left:60px;
        margin-top: 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .field-login {
        background-color:none;
    }
    .login-form{
        color:white;
        width: 250px;
        height: 250px;
        padding: 12px 20px;
    }
  
    